<router-outlet></router-outlet>
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <h3 class="col-sm-offset-3 col-sm-6">Signup</h3>
    </div>
    <input type="text" name="email" value="" class="form-control input-lg"
           placeholder="Your Email"/>
    <input type="password" name="password" value="" class="form-control input-lg"
           placeholder="Password"/>
    <input type="password" name="confirm_password" value="" class="form-control input-lg"
           placeholder="Confirm Password"/>
</div>

</body>
